
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Einvoice_Customer.Language.Resource.ChangePass;
}

<h2>@ViewBag.Title</h2>
<p>@Einvoice_Customer.Language.Resource.Return  <a href="~/EinvoiceCustomer/">@Einvoice_Customer.Language.Resource.Previous</a>.</p>