@{
    ViewBag.Title = Einvoice_Customer.Language.Resource.Introduce;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="row">
        <div class="support">
            <h4>
                    <span>@ViewBag.Title.ToUpper()</span>
            </h4>
            <div class="support-row1 flex">
                <div class="col-sm-4 flex">
                    <div class="box">
                        <h5>TỔNG QUAN VỀ HÓA ĐƠN ĐIỆN TỬ</h5>
                        <div class="content-box">
                            + Hóa đơn điện tử là tập hợp các thông điệp dữ liệu điện tử về:<br />
                            - Bán hàng hóa.<br />
                            - Cung ứng dịch vụ.<br />
                            + Được khởi tạo, lập, xử lý trên hệ thống máy tính và lưu trữ trên máy tính theo quy định của pháp luật về giao dịch điện tử.<br />
                            + Thay thế cho cách xuất hóa đơn, chuyển hóa đơn khách hàng và lưu trữ hóa đơn giấy theo phương thức truyền thống.<br />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 flex">
                    <div class="box">
                        <h5>LỢI ÍCH CỦA HÓA ĐƠN ĐIỆN TỬ </h5>
                        <div class="content-box">
                            + Rút ngắn thời gian thanh toán do việc lập, gửi, nhận hóa đơn được thực hiện qua các phương tiện điện tử.<br />
                            + Hạn chế các rủi ro như: mất mát, rách, hỏng, cháy trong quá trình vận chuyển lưu trữ.<br />
                            + Doanh nghiệp chủ động trong khởi tạo và phát hành hóa đơn.<br />
                            + Đơn giản hóa việc phát hành, quản lý hóa đơn, kê khai thuế. Dễ dàng tra cứu thông tin hóa đơn, kiểm soát phát hành hóa đơn.<br />
                            + Tiết kiệm chi phí in, phát hành, gửi, lưu trữ và bảo quản hóa đơn.<br />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 flex">
                    <div class="box">
                        <h5>ĐỐI TƯỢNG SỬ DỤNG HÓA ĐƠN ĐIỆN TỬ</h5>
                        <div class="content-box">
                            + Là các đơn vị, tổ chức, doanh nghiệp có phát hành hóa đơn đến khách hàng:<br />
                            - Bưu chính, Viễn thông.<br />
                            - Điện, Nước, Xăng dầu.<br />
                            - Ngân hàng, Tín dụng.<br />
                            - Nhà hàng, Khách sạn.<br />
                            - Các doanh nghiệp cung cấp Dịch vụ, Hàng hóa …<br />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@