@{
    ViewBag.Title = "Thông Tin Liên Hệ";
}
@*<h2>@ViewBag.Title.</h2>*@
<div class="col-lg-12">
    <div class="row">
        <div class="support">
            <h4>@ViewBag.Message</h4>
            <div class="support-row1">
                <address>
                    <b>Furama Resort, Danang</b><br/>
                    <b>Địa chỉ:</b>Đường Trường Sa, Quận Ngũ Hành Sơn, Tp. Đà Nẵng<br />
                    <b>Điện thoại:</b> (0511) 3836189/3847333<br />
                    <b>Fax:</b> (0511) 3836625/3847666<br />
                    <b>Website:</b> www.furamavietnam.com<br />
                </address>
            </div>
        </div>
    </div>
</div>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@

