@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="row">
        <div class="support">
            <h4>Thông tin hỗ trợ</h4>
            <div class="support-row1">
                Đang cập nhập
            </div>
        </div>
   </div>
</div>

