
@{
    ViewBag.Title = Einvoice_Customer.Language.Resource.NoteFromSystem ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="alert alert-warning">@ViewBag.Message</div>
<div class="text-left">
    <button class="btn btn-link" onclick="return window.history.go(-1)">Quay lại</button>
</div>

